{% extends 'base.html' %}

{% block title %}Agenda de {{ responsable }}{% endblock %}

{% block content %}
<style>
.special-margin {
    margin-bottom: 6.5px;
}
</style>
<h1>{{ responsable }}</h1>
<div class="d-flex">
<div>
    <p>actividad</p>
    <div class="d-flex flex-column">
        {% for item in actividades %}
        <div class="special-margin">{{ item }}</div>
        {% endfor %}
    </div>
</div>
    {% for dia, datos in data.items() %}
    <div class="d-flex flex-column px-3" style="width: 40px;">
        <p>{{ dia }}</p>
        {% for item in datos %}
        <div id="{{item.id}}">
            {% if item.dato == True %}
            <iconify-icon icon="humbleicons:check-circle" width="24" height="24"></iconify-icon>
            {% else %}
            <iconify-icon icon="humbleicons:circle" width="24" height="24"></iconify-icon>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}
