{% extends 'base.html' %}

{% block title %}Agenda de {{ responsable }}{% endblock %}

{% block content %}
<style>
.special-margin {
    margin-bottom: 6.5px;
}
.cursor-pointer {
    cursor: pointer;
}
</style>
<h4 class="mt-4">{{ responsable }}</h4>
<div class="d-flex">
<div>
    <p>actividad</p>
    <div class="d-flex flex-column">
        {% for item in actividades %}
        <div class="special-margin">{{ item }}</div>
        {% endfor %}
    </div>
</div>
    {% for dia, datos in data.items() %}
    <!-- se itera el diccionario, rescatando la clave (el día de la semana) y el valor (la lista de diccionarios) -->
    <div class="d-flex flex-column px-3" style="width: 40px;">
        <p>{{ dia }}</p>
        {% for item in datos %}
        <!-- se itera cada diccionario de la lista rescatando el 'id' y el 'dato' (boolean) -->
        <div id="{{item.id}}" class="cursor-pointer" onclick="enviarId(this.id)">
            {% if item.dato == True %}
            <iconify-icon icon="humbleicons:check-circle" width="24" height="24"></iconify-icon>
            {% else %}
            <iconify-icon icon="humbleicons:circle" width="24" height="24"></iconify-icon>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<script>
    function enviarId(id) {
        const div = document.getElementById(id);
        const icon = div.querySelector('iconify-icon');

        const iconoOriginal = icon.getAttribute('icon');
        const nuevoIcono = iconoOriginal === 'humbleicons:check-circle' ? 'humbleicons:circle' : 'humbleicons:check-circle';

        icon.setAttribute('icon', nuevoIcono);

        fetch(`/cambiar_estado/${id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (!data.success) {
                // Si hubo un error, revertir el icono al estado original
                icon.setAttribute('icon', iconoOriginal);
                console.error(data.error);
            }
        })
        .catch(error => {
            // Si la solicitud falla, revertir el icono al estado original
            icon.setAttribute('icon', iconoOriginal);
            console.error('Error:', error);
        });
    }
</script>

{% endblock %}
